h2 {
  margin: 20px 20px;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
}

.search-form {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0 50px 10px auto;
  gap: 10px;
}

.search-form input {
  padding: 8px 12px;
  font-size: 16px;
  margin-left:20px;
  width: 400px;
  height: 35px;
  border: 2px solid #000000;
  border-radius: 6px;
  outline: none;
}

.search-form button {
  margin-top:-10px;
  padding: 2px 10px;
  background-color: #8652e6;
  border: none;
  color: white;
  width: 100px;
  height: 35px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.search-form button:hover {
  background-color: #6f42c1;
}

.map-wrapper {
  height: 70vh;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}